.stand {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 60px 0 60px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 34px;
}


.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
