.radio {
   background-color: black;
    position: relative;
    border: #FFFFFF;
    visibility: hidden;
}

.radio::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    visibility: visible;
}


.radio:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 2px solid black;
    visibility: visible;

}

.label {

}

.options {
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-size: 16px;
    line-height: 20px;
}
