.greetingForm {
    font-family: 'Montserrat', sans-serif;
}

.inputAndButtonContainer {
    max-width: 460px;
    display: flex;
    gap: 12px;
    align-items: flex-start;
    margin-bottom: 10px;
}

.inputContainer {
    flex-basis: 84%;
}

.error {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
    margin-top: 9px;
}

.input {
    width: 100%;
    padding: 10px 12px;
    background: transparent;
    color: black;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;

}


.input:focus {
}

.errorInput {
    border: 1px solid #CC0000;
}

.button {
    flex-basis: 18%;
    padding: 8px 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #0066CC;
    border-radius: 3px;
    text-align: center;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 9px;
}

.greeting {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
